{% local layout = 'web/layout.html' %}
<div class="docs-page">

  <h1>Direct Upload API</h1>

  <p><strong>[tiny]stash</strong> Direct Upload API allows you to upload files using different HTTP libraries for programming languages or HTTP clients such as <a href="https://curl.haxx.se/">curl</a>.</p>

  <h2>Endpoints</h2>

  <p>For <em>file uploads</em>: <code>{* link_url_prefix *}/upload/file</code></p>
  <p>For <em>text uploads</em>: <code>{* link_url_prefix *}/upload/text</code></p>
  <p>The only difference between them is that the latter always sets <code>content-type</code> to <code>text/plain</code>, whereas the former keeps the header value passed when the file is uploaded.</p>

  <h2>Headers</h2>

  <p><code>app-id</code>: <em>Required.</em> An arbitrary string.</p>
  <p><code>content-length</code>: <em>Required.</em> The size of a body in bytes. {( includes/max_file_size.txt )}</p>
  <p><code>content-type</code>: <em>Optional.</em> The default value for <em>file uploads</em> is <code>application/octet-stream</code>. Ignored for <em>text uploads</em>.</p>
  <p><code>accept</code>: <em>Optional.</em> Set to <code>application/json</code> to get a JSON response (plain text will be used otherwise).</p>

  <h2>Body</h2>

  <p>Raw file content or text. Compressed or chunked transfer encodings are not supported.</p>

  <h2>Examples</h2>

  <div class="codeblock">
    # Upload video (.mp4) file
    $ curl {* link_url_prefix *}/upload/file -H app-id:myapp -H content-type:video/mp4 --data-binary @/path/to/video.mp4

    # Upload text from pipe, get JSON response
    $ echo 'This is my first text upload' | curl {* link_url_prefix *}/upload/text -H app-id:myapp -H accept:application/json --data-binary @-

  </div>

</div>
