{%
  local layout = 'web/layout.html'
  local ln_link = render_link(modes.LINKS)
  local dl_link = render_link(modes.DOWNLOAD)
  local il_link = render_link(modes.INLINE)
%}
<div class="file-links-page">
  <div class="header">
    <div class="row">
      <span>media type</span>
      <span>{{ media_type }}</span>
    </div>
    {% if file_size then %}
      <div class="row">
        <span>file size</span>
        <span>{{ file_size }}</span>
      </div>
    {% end %}
  </div>
  {% if extension then %}
    <input type="checkbox" id="ext-toggle" checked>
    <label class="ext-label" for="ext-toggle">
      <div class="slider">
        <div class="dot"></div>
      </div>
      links with extension
    </label>
  {% end %}
  <div class="row{% if extension then %} ext-off{% end %}">
    <a href="{* il_link *}">inline</a>
    <input type="text" value="{{ il_link }}" readonly>
  </div>
  <div class="row{% if extension then %} ext-off{% end %}">
    <a href="{* dl_link *}">download</a>
    <input type="text" value="{{ dl_link }}" readonly>
  </div>
  {% if extension then %}
    <div class="row ext-on">
      <a href="{* il_link *}{{ extension }}">inline</a>
      <input type="text" value="{{ il_link }}{{ extension }}" readonly>
    </div>
    <div class="row ext-on">
      <a href="{* dl_link *}{{ extension }}">download</a>
      <input type="text" value="{{ dl_link }}{{ extension }}" readonly>
    </div>
  {% end %}
  <div class="row">
    <a href="{* ln_link *}">links page</a>
    <input type="text" value="{{ ln_link }}" readonly>
  </div>
</div>
