<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{* url_path_prefix *}/static/style.css" rel="stylesheet">
  <link rel="preload" href="{* url_path_prefix *}/static/sourcesanspro-regular.woff2" as="font">
  <link rel="preload" href="{* url_path_prefix *}/static/sourcesanspro-italic.woff2" as="font">
  <link rel="preload" href="{* url_path_prefix *}/static/sourcecodepro-regular.woff2" as="font">
  <link rel="icon" href="{* url_path_prefix *}/static/favicon.png" type="image/png">
  <title>{% if title then %}{{ title }}{* ' &mdash; ' *}{% end %}tiny[stash]</title>
</head>
<body>
  {% if gtm_id then %}
    <iframe src="https://www.googletagmanager.com/ns.html?id={* gtm_id *}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  {% end %}
  <div class="container">
    <header>
      <div class="logo">
        <a href="{* url_path_prefix *}/"><sup>tiny</sup>[stash]</a>
      </div>
      <nav>
        <ul>
          {% if enable_donate then %}
            <li><span>[</span><a href="{* url_path_prefix *}/donate">donate</a><span>]</span></li>
          {% end %}
          {% if enable_upload then %}
            {% if enable_upload_api then %}
              <li><span>[</span><a href="{* url_path_prefix *}/docs/api">docs<span>/</span>api</a><span>]</span></li>
            {% end %}
            <li><span>[</span><a href="{* url_path_prefix *}/upload/url">upload<span>/</span>url</a><span>]</span></li>
            <li><span>[</span><a href="{* url_path_prefix *}/upload/text">upload<span>/</span>text</a><span>]</span></li>
            <li><span>[</span><a href="{* url_path_prefix *}/upload/file">upload<span>/</span>file</a><span>]</span></li>
          {% end %}
        </ul>
      </nav>
    </header>
    <div class="content">
      {* view *}
    </div>
    <footer>
      <div class="row">
        Created by <a href="https://undef.im/">un.def</a>
        <span class="bull"></span>
        <a href="https://github.com/un-def/tinystash">Source code</a>
        <span class="bull"></span>
        <a href="https://github.com/un-def/tinystash/issues">Issues</a>
      </div>
      <div class="row">
        Written in <a href="https://lua.org/">Lua</a>
        <span class="bull"></span>
        Powered by <a href="https://luajit.org/">LuaJIT</a> and <a href="https://openresty.org/">OpenResty</a>
      </div>
      <div class="row">
        NoScript-friendly
        <span class="bull"></span>
        0% JavaScript
      </div>
    </footer>
  </div>
</body>
</html>
