<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{* url_path_prefix *}/static/style.css" rel="stylesheet">
  <link rel="icon" href="{* url_path_prefix *}/static/favicon.png" type="image/png">
  <title>{% if title then %}{{ title }}{* ' &mdash; ' *}{% end %}[tiny]stash</title>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <a href="{* url_path_prefix *}/"><sup>tiny</sup>[stash]</a>
      </div>
      {% if enable_upload then %}
        <nav>
          {% if enable_upload_api then %}
            <span>[ <a href="{* url_path_prefix *}/docs/api">docs/api</a> ]</span>
          {% end %}
          <span>[ <a href="{* url_path_prefix *}/upload/text">upload text</a> ]</span>
          <span>[ <a href="{* url_path_prefix *}/upload">upload file</a> ]</span>
        </nav>
      {% end %}
    </header>
    <div class="content">
      {* view *}
    </div>
    <footer>
      <div class="row">
        Created by <a href="https://undef.im/">un.def</a>
        <span class="bull"></span>
        <a href="https://github.com/un-def/tinystash">Source code</a>
        <span class="bull"></span>
        <a href="https://github.com/un-def/tinystash/issues">Issues</a>
      </div>
      <div class="row">
        Written in <a href="https://lua.org/">Lua</a>
        <span class="bull"></span>
        Powered by <a href="https://luajit.org/">LuaJIT</a> and <a href="https://openresty.org/">OpenResty</a>
      </div>
      <div class="row">
        NoScript-friendly
        <span class="bull"></span>
        0% JavaScript
      </div>
    </footer>
  </div>
</body>
</html>
