{% local layout = 'web/layout.html' %}
<div class="upload-page">
  <form method="post" enctype="multipart/form-data" class="upload-form{% if upload_type == 'text' then %} vertical{% end %}">
    <input type="hidden" name="{* csrftoken_name *}" value="{* csrftoken_value *}">
    {% if upload_type == 'file' then %}
      <input type="file" name="file">
    {% elseif upload_type == 'text' then %}
      <textarea name="file"></textarea>
    {% end %}
    <input type="submit" value="Upload">
  </form>
</div>
