/*** common ***/

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('sourcesanspro-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url('sourcesanspro-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url('sourcecodepro-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

a {
  color: #337ab7;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2.2rem;
  margin: 1.12rem 0;
}

h3 {
  font-size: 1.76rem;
  margin: 1.25rem 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h5 {
  font-size: 1.25rem;
  margin: 2.25rem 0;
}

h6 {
  font-size: 1.12rem;
  margin: 2.5rem 0;
}

.monospace {
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: .8em;
  padding: 1px 2px;
  vertical-align: middle;
  overflow-wrap: break-word;
  color: #555;
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
}

.codeblock {
  font-family: 'Source Code Pro', monospace;
  font-size: .9em;
  padding: 0 1em;
  overflow-wrap: break-word;
  white-space: pre-line;
  color: #555;
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > :nth-child(1) {
  flex: 0 0 3rem;
}

.container > :nth-child(2) {
  flex: 1 1 auto;
}

.container > :nth-child(3) {
  flex: 0 0 auto;
}

header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #555;
}

header a {
  color: #bbb;
}

header a:hover, header a:focus {
  color: #fff;
  text-decoration: none;
}

header .logo {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  white-space: nowrap;
}

header .logo sup {
  font-size: 0.7em;
  display: inline-block;
  transform: scaleY(0.7);
}

header nav {
  padding-bottom: 0.2em;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav li {
  white-space: nowrap;
  display: inline;
  list-style-type: none;
}

header nav span {
  display: inline-block;
  margin: 0 2px;
  color: #777;
}

.content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

footer {
  background-color: #fafafa;
  width: 100%;
  color: #777;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  padding-top: 5px;
}

footer .row {
  padding-bottom: 5px;
}

footer .row .bull::before {
  content: "•";
}

/*** main page ***/

.main-page .info {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.main-page .info sup {
  font-size: .7rem;
}

.main-page .footnote {
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
}

/*** docs page ***/

.docs-page {
  margin: 1rem 0 3rem 0;
}

@media screen and (min-width: 900px) {
  .docs-page {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .docs-page {
    width: 90vw;
  }
}

.docs-page p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: .3rem;
}

/*** donate page ***/

.donate-page {
  margin: 1rem 0 3rem 0;
}

@media screen and (min-width: 900px) {
  .donate-page {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .donate-page {
    width: 90vw;
  }
}

.donate-page {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.donate-page .intro {
  margin-bottom: 3rem;
}

.donate-page .block {
  margin-bottom: .5rem;
}

/*** file links page ***/

@media screen and (max-width: 1200px) {
  .file-links-page {
    width: 90vw;
  }

  .file-links-page .row {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .file-links-page {
    width: 70vw;
  }
}

@media screen and (min-width: 1600px) {
  .file-links-page {
    width: 50vw;
  }
}

.file-links-page .header {
  margin-bottom: 2rem;
}

.file-links-page .row {
  width: 100%;
  display: flex;
  margin: .3rem 0;
}

.file-links-page .row > * {
  display: block;
  padding: .4rem;
  margin-right: .3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-links-page .row input[type="text"] {
  /* workaround for weird (bolder) form input text rendering in chrome */
  font-size: .95em;
  font-family: inherit;
  border: 0;
}

.file-links-page .row > :first-child {
  background: #f0f0f0;
  flex: 1 1 20%;
}

.file-links-page .row > :last-child {
  background: #fafafa;
  flex: 5 1 80%;
}

.file-links-page .slider {
  display: inline-block;
  vertical-align: sub;
  padding: .2em;
  width: 1.5em;
  border-radius: 1em;
  background: #bbb;
}

.file-links-page .slider .dot {
  display: block;
  width: .7em;
  height: .7em;
  border-radius: .7em;
  background: #fff;
}

.file-links-page #ext-toggle {
  display: none;
}

.file-links-page .ext-label {
  display: block;
  margin: .5rem 0;
  cursor: pointer;
}

.file-links-page #ext-toggle:checked ~ .ext-label .slider {
  background: #23527c;
}

.file-links-page #ext-toggle:checked ~ .ext-label .slider .dot {
  float: right;
}

.file-links-page #ext-toggle:checked ~ .ext-off {
  display: none;
}

.file-links-page #ext-toggle:not(:checked) ~ .ext-on {
  display: none;
}

/*** upload page ***/

.upload-page .upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-page .upload-form.vertical {
  flex-direction: column;
}

.upload-page .upload-form input {
  padding: .2rem;
}

.upload-page .upload-form input[type="file"] {
  width: 40rem;
  max-width: 70vw;
  background: #fafafa;
  margin-right: .2rem;
}

.upload-page .upload-form input[type="url"] {
  width: 40rem;
  max-width: 70vw;
  margin-right: .2rem;
}

.upload-page .upload-form textarea {
  width: 80vw;
  height: 60vh;
  margin-bottom: 1rem;
}

/*** error page ***/

.error-page {
  text-align: center;
}

.error-page .error {
  font-size: 4rem;
  padding: 1rem 0;
}

.error-page .error > span {
  color: #777;
}

.error-page .description {
  font-size: 1.5rem;
  color: #555;
}
